mixin createMessage(messageObject = {})
  li.app--message
    .app--avatar(style=`background-image: url(${messageObject.senderAvatar})`)
      img(src=`${messageObject.senderAvatar}`)
    p.app--message--text #{messageObject.senderMessage}
    p.app--message--timestamp #{messageObject.timeOfDM}

each dm in msgData
  +createMessage(dm)
