
a linkText
mixin message(messageObject = {})
  .error-container
    p #{messageObject.timeOfDM}
    p #{messageObject.senderAvatar}
    p #{messageObject.senderMessage}

each dm in appData
  +message(dm)
