//- WORKING DIRECT MESSAGES PARTIAL
li.app--message
  .app--avatar(style=`background-image: url(${senderAvatar})`)
    img(src=`${senderAvatar}`)
  p.app--message--text #{senderMessage}
  p.app--message--timestamp #{timeOfDM}
