li
  .circle--fluid
    .circle--fluid--cell.circle--fluid--primary
      a.app--tweet--author
        .app--avatar(style=`background-image: url(${friendAvatar})`)
          img(src=`${friendAvatar}`)
        h4 #{friendName}
        p @#{friendScreenName}
    .circle--fluid--cell
      a.button.button-text Unfollow
