extends layout.pug

block content
  .error-container
    h1.errorStyle #{title} (#{error})
    i.fas.fa-bug.fa-10x
  .error-container
    a.error.button(href='/') Go To Dashboard
  include includes/footer.pug
