extends layout.pug

block content
  .error-container
    h1.errorStyle #{error} (#{errorStatus})
    i.fas.fa-exclamation-circle.fa-10x
  .error-container
    a.error.button(href='/') Go To Dashboard
  script(defer='', src='https://use.fontawesome.com/releases/v5.0.2/js/all.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='./js/app.js')
