extends layout.pug

block content
  include includes/mixins/_tweet_input.pug
  .bounds.app--body
    .app--section--header
      .grid-33
        .app--section--heading
          h2 Timeline
      .grid-33
        .app--section--heading
          strong #{friends}
          h2 Followers
      .grid-33
        .app--section--heading
          h2 Direct Messages
    .grid-33
      .app--section
        ul.app--tweet--list
          include includes/mixins/_timeline_mixin.pug
    .grid-33
      .app--section
        ul.app--user--list
          include includes/mixins/_followers_mixin.pug
    .grid-33
      .app--section
        ul.app--message--list
          li
            h3
              | Conversation with 
              a #{name}
            ul.app--message--conversation
              include includes/mixins/_message_mixin.pug
  include includes/footer.pug
