extends layout.pug

block content
  include includes/tweet_input.pug
  .bounds.app--body
    .app--section--header
      .grid-33
        .app--section--heading
          h2 Timeline
      .grid-33
        .app--section--heading
          strong #{friends}
          h2 Followers
      .grid-33
        .app--section--heading
          h2 Direct Messages
    .grid-33
      .app--section
        ul.app--tweet--list
          include includes/_timeline_mixin_test.pug
    .grid-33
      .app--section
        ul.app--user--list
          include includes/_followers_mixin_test.pug
    .grid-33
      .app--section
        ul.app--message--list
          li
            h3
              | Conversation with 
              a #{name}
            ul.app--message--conversation
              //- MISSING LOGIC FOR IF SENDER OR SENT MESSAGE IN MESSAGE INCLUDE: --me and proper sender/sent avatar
              //- e.g. li.app--message--me or li.app--message
              //- --me shows a blue background text, blank shows purple background text
              include includes/_message_mixin_test.pug
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='./js/app.js')
